[submodule "education-ai-suite/smart-classroom/Linux/performance-tools"]
	path = education-ai-suite/smart-classroom/Linux/performance-tools
	url = https://github.com/intel-retail/performance-tools.git
