apiVersion: v1
kind: Service
metadata:
  name: aggregator
spec:
  type: NodePort
  selector:
    app: aggregator
  ports:
    - name: http
      port: 8001
      targetPort: 8001
      nodePort: {{ .Values.aggregator.nodePort }}
      protocol: TCP
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: ai-ecg
spec:
  type: ClusterIP
  selector:
    app: ai-ecg
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: rppg
spec:
  type: ClusterIP
  selector:
    app: rppg
  ports:
    - name: http
      port: 8084
      targetPort: 8084
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: pose
spec:
  type: ClusterIP
  selector:
    app: pose
  ports:
    - name: http
      port: 8083
      targetPort: 8083
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: metrics
spec:
  type: ClusterIP
  selector:
    app: metrics
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: dds-bridge
spec:
  type: ClusterIP
  selector:
    app: dds-bridge
  ports:
    - name: http
      port: 8082
      targetPort: 8082
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: mdpnp
spec:
  type: ClusterIP
  selector:
    app: mdpnp
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: ui
spec:
  type: NodePort
  selector:
    app: ui
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: {{ .Values.ui.nodePort }}
      protocol: TCP
